#tree > svg {
  font-family: sans-serif;
  font-size: 10px;
  max-height: 800px;
}

.tree__link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5;
}

.tree__node {
  stroke-linejoin: "round";
  stroke-width: 3;
}

.tree__node--terminal{
  fill: red;
}

.tree__label{
  text-transform: capitalize;
}

.tree__label:hover{
  fill: red;
  cursor:pointer;
}

.hidden{
  visibility: hidden;
}

#modal{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

#modal .container{
  background:white;
  height: 300px;
  width: 500px;
  border-radius: 8px;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border:1px solid black;
  z-index: 1;
}

#modal .overlay{
  height: 100%;
  width:100%;
  position: absolute;
  z-index:0;
  background:rgba(0,0,0,.5);
}